body{
font-family: Arial, sans-serif;
margin:0;
padding:0;
background:#f5f7fa;
}

header{
background:#0f172a;
color:white;
padding:80px 20px;
text-align:center;
}

section{
max-width:1200px;
margin:auto;
padding:40px 20px;
}

h1{
font-size:48px;
}

h2{
color:#0f172a;
}
